In [24]:
# EDA pamages 
import pandas as pd

#hide wearrings 
import warnings

warnings.filterwarnings('ignore')
#import the necessary module

from sklearn import preprocessing
# create the Labelencoder object
le = preprocessing.LabelEncoder()
#convert the categorical columns into numeric
le = preprocessing.LabelEncoder()

from sklearn.model_selection import train_test_split
#split data set into train and test sets

# import the necessary module
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
#create an object of the type GaussianNB
gnb = GaussianNB()

#import necessary modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [25]:
class Dataset_tf():
    """A simple attempt to model a dog."""
    def __init__(self, df):
        """Initialize name and age attributes."""
        self.df = pd.read_csv(df)
    def get_convert_dtype(list_of_c_ids):
        for list_of_c_id in list_of_c_ids:
            df[list_of_c_id] = df[list_of_c_id].apply(pd.to_numeric)
            # convert just columns "a" and "b" df[["a", "b"]] = df[["a", "b"]].apply(pd.to_numeric)
            df[list_of_c_id] = df[list_of_c_id].astype(int)
    def get_LabelEncoder(self,labelencoders_list):
        for labelencoder_list in labelencoders_list:
            self.df[labelencoder_list] = le.fit_transform(self.df[labelencoder_list])
            #return self.df[labelencoder_list]
    def get_divided_df(self,c_id1,c_id2):
        # select columns other than 'Opportunity Number','Opportunity Result'
        cols = [col for col in self.df.columns if col not in [c_id1,c_id2]]
        global data , target
        # dropping the 'Opportunity Number'and 'Opportunity Result' columns
        data = self.df[cols]
        #assigning the Oppurtunity Result column as target
        target = self.df[c_id1]
        return data
    def get_test_train(self):
        data_train, data_test, target_train, target_test = train_test_split(data  , target , test_size = 0.30, random_state = 10)
        return data_train, data_test, target_train, target_test
    def get_prediction(self):
        #train the algorithm on training data and predict using the testing data
        pred = gnb.fit(data_train, target_train).predict(data_test)
        print('Prediction',pred.tolist())
        print ('the accuracy score of the model')
        print("Naive-Bayes accuracy : ",accuracy_score(target_test, pred, normalize = True))
    def get_lassifier(self):
        #create object of the lassifier
        neigh = KNeighborsClassifier(n_neighbors=3)
        #Train the algorithm
        neigh.fit(data_train, target_train)
        # predict the response
        pred = neigh.predict(data_test)
        # evaluate accuracy
        print ("KNeighbors accuracy score : ",accuracy_score(target_test, pred))

In [26]:
my_dataset_tf = Dataset_tf("C:\\Users\\haier\\Python\\TEXT_DATA_PREPROCESSING\\Data_sets\\subset_covid19_tweets.csv")

In [27]:
my_dataset_tf.df.index.name='S:No' ; my_dataset_tf.df.columns.name = 'Info'

In [28]:
my_dataset_tf.df.drop("Unnamed: 0",axis=1,inplace=True)

In [29]:
my_dataset_tf.df.reindex(range(1,265))

Info,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
S:No,,,,,,,,,,,,,
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False
5,üéπ Franz Schubert,–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è,üéº #–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è #Novorossiya #–æ—Å—Ç–∞–≤–∞–π—Å—è–¥–æ–º–∞ #S...,2018-03-19 16:29:52,1180,1071,1287,False,2020-07-25 12:27:06,#coronavirus #covid19 deaths continue to rise....,"['coronavirus', 'covid19']",Twitter Web App,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,"Ryan T. Cleary, MD","St Louis, MO",Neurosurgery resident @NeurosurgerySlu | CNS R...,2017-11-20 18:48:25,680,286,176,False,2020-07-25 12:19:05,"Since everything‚Äôs changing with #COVID19, @Re...",['COVID19'],Twitter for iPhone,False
261,"Dara Kass, MD","New York, NY","üö∫ She, Her, Wife, Mom üöª Doctor, Boss, FemInEM,...",2012-08-05 15:51:53,43608,1874,35307,True,2020-07-25 12:19:04,I use many sources for my #COVID19 guidance. \...,['COVID19'],Twitter for iPhone,False
262,Samantha Sovereign,Massachusetts,Truth-Telling Patriot | Spirit-Science Merger ...,2019-02-25 04:37:05,177,196,1702,False,2020-07-25 12:18:54,It so brilliant to see people awake and not ac...,['COVID19'],Twitter for iPhone,False
263,APO Group English,#AFRICA #MENA,Latest #Africa & #MENA related #News releases ...,2011-02-22 09:09:45,10661,6,2037,True,2020-07-25 12:18:52,Coronavirus - Kenya: COVID-19 Update (24th Jul...,NaN,TweetDeck,False
264,HAMSEY Enterprise,"Lagos, Nigeria",A MAN must ACCEPT his FATE or be DESTROYED by it,2012-06-01 17:37:38,89,621,485,False,2020-07-25 12:18:50,#alreadyvideo #RihannaXTiwa #ObasekiFlagsOffTo...,"['alreadyvideo', 'RihannaXTiwa', 'ObasekiFlags...",Twitter for Android,False

In [30]:
my_dataset_tf.df.dropna(inplace=True)

In [31]:
my_dataset_tf.df.columns

Index(['user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'text', 'hashtags', 'source', 'is_retweet'],
      dtype='object', name='Info')

In [32]:
my_dataset_tf.get_LabelEncoder(['user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'text', 'hashtags', 'source', 'is_retweet'])

In [33]:
my_dataset_tf.df

Info,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
S:No,,,,,,,,,,,,,
2,209,137,3,17,176,224,156,0,238,88,53,18,0
3,240,159,2,217,44,139,93,0,237,84,53,20,0
4,46,89,251,189,227,41,24,0,236,69,58,18,0
5,253,198,249,202,113,145,88,0,235,55,139,17,0
6,242,64,231,4,224,239,138,0,234,158,37,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,245,107,104,91,179,226,191,0,3,93,114,17,0
488,54,41,85,125,167,65,128,0,3,126,169,18,0
490,121,175,5,227,25,22,47,0,2,34,83,18,0
491,104,16,238,219,73,142,201,0,1,133,77,20,0
499,76,182,42,75,207,235,2,0,0,102,60,5,0

In [34]:
my_dataset_tf.get_divided_df('user_name','text')

Info,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source,is_retweet
S:No,,,,,,,,,,,
2,137,3,17,176,224,156,0,238,53,18,0
3,159,2,217,44,139,93,0,237,53,20,0
4,89,251,189,227,41,24,0,236,58,18,0
5,198,249,202,113,145,88,0,235,139,17,0
6,64,231,4,224,239,138,0,234,37,1,0
...,...,...,...,...,...,...,...,...,...,...,...
487,107,104,91,179,226,191,0,3,114,17,0
488,41,85,125,167,65,128,0,3,169,18,0
490,175,5,227,25,22,47,0,2,83,18,0
491,16,238,219,73,142,201,0,1,77,20,0
499,182,42,75,207,235,2,0,0,60,5,0

In [35]:
data_train, data_test, target_train, target_test  = my_dataset_tf.get_test_train()

In [36]:
data_test

Info,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source,is_retweet
S:No,,,,,,,,,,,
229,173,8,139,187,1,54,1,130,67,6,0
136,93,54,51,216,131,218,0,176,53,18,0
104,146,76,111,172,70,206,0,187,76,17,0
428,182,42,75,207,235,2,0,35,61,5,0
198,33,16,107,156,218,233,0,149,35,18,0
...,...,...,...,...,...,...,...,...,...,...,...
9,199,128,167,218,237,212,0,233,84,20,0
284,27,68,28,61,121,123,0,99,113,18,0
153,187,234,131,142,74,157,0,170,111,17,0
358,108,124,186,52,47,60,0,68,53,18,0
430,91,146,239,27,78,103,0,34,81,18,0

In [37]:
data_train

Info,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,hashtags,source,is_retweet
S:No,,,,,,,,,,,
4,89,251,189,227,41,24,0,236,58,18,0
400,67,24,169,196,229,110,0,49,156,12,0
437,0,98,147,63,55,132,0,29,82,17,0
408,20,35,224,108,134,142,0,44,48,17,0
137,71,32,61,19,12,6,0,175,147,18,0
...,...,...,...,...,...,...,...,...,...,...,...
288,96,40,245,49,106,5,0,97,51,17,0
235,15,7,142,243,23,25,1,129,1,16,0
27,110,212,1,23,62,167,0,226,53,18,0
237,113,99,13,131,182,161,0,128,53,20,0
491,16,238,219,73,142,201,0,1,77,20,0

In [38]:
target_test

S:No
229    216
136     95
104    235
428     76
198    165
      ...
9      129
284    130
153    233
358    145
430      3
Name: user_name, Length: 81, dtype: int32

In [39]:
target_train

S:No
4       46
400    202
437    142
408    105
137    185
      ...
288     66
235     29
27     236
237    118
491    104
Name: user_name, Length: 186, dtype: int32

In [40]:
my_dataset_tf.get_prediction()

Prediction [47, 22, 169, 56, 57, 180, 109, 102, 36, 133, 41, 157, 58, 122, 167, 169, 215, 248, 67, 133, 119, 74, 169, 56, 160, 99, 7, 67, 196, 237, 168, 43, 131, 79, 167, 67, 150, 245, 204, 148, 61, 143, 184, 150, 81, 43, 123, 10, 226, 21, 185, 70, 58, 217, 40, 196, 245, 7, 168, 150, 127, 171, 189, 55, 239, 225, 184, 226, 253, 183, 245, 231, 215, 60, 250, 57, 140, 124, 159, 192, 63]
the accuracy score of the model
Naive-Bayes accuracy :  0.04938271604938271

In [41]:
my_dataset_tf.get_lassifier()

KNeighbors accuracy score :  0.012345679012345678